*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color:rgba(228, 188, 57, 0.45);
}
main{
    background-color: aliceblue;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.324);
    padding: 10px;
}